{% extends 'base.html' %}

{% block content %}
    <h1>This is the Market page!</h1>
    <div class="container mt-5">
        <div class="market-card">

            <div class="market-header">
                Market Items
            </div>

            <div class="table-responsive">
                <table class="table table-dark table-hover market-table mb-0">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Barcode</th>
                            <th>Price</th>
                            <th class="text-center">Actions</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for item in items %}
                            <tr>
                                <th>{{ item.id }}</th>
                                <td>{{ item.name }}</td>
                                <td>{{ item.barcode }}</td>
                                <td>${{ item.price }}</td>
                                <td class="text-center">
                                    <button class="btn btn-info-outline btn-sm">View Details</button>
                                    <button class="btn btn-buy btn-sm">Purchase</button>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
    </div>
{% endblock content %}