<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% block title %}TradeHub{% endblock %}
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
      
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm px-3">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ url_for('home_page') }}">TradeHub</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link {% if request.endpoint == 'home_page' %}active{% endif %}" aria-current="page" href="{{ url_for('home_page') }}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.endpoint == 'market_page' %}active{% endif %}" href="{{ url_for('market_page') }}">Market</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                            Owner
                        </a>

                        <ul class="dropdown-menu dropdown-menu-end">
                            <li>
                                <a class="dropdown-item" href="https://github.com/khaledelsayed2003" target="_blank">
                                    <i class="bi bi-github me-2"></i> GitHub
                                </a>
                            </li>

                            <li>
                                <a class="dropdown-item" href="https://www.linkedin.com/in/khaledelsayed2003/" target="_blank">
                                    <i class="bi bi-linkedin me-2"></i> LinkedIn
                                </a>
                            </li>

                            <li>
                                <a class="dropdown-item" href="mailto:khaled.elsayed2206@email.com">
                                    <i class="bi bi-envelope-fill me-2"></i> Email
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <div class="d-flex">
                    <a href="{{ url_for('login_page') }}" class="btn btn-outline-primary me-2 {% if request.endpoint == 'login_page' %}active{% endif %}">Login</a>
                    <a href="{{ url_for('register_page') }}" class="btn btn-primary {% if request.endpoint == 'register_page' %}active{% endif %}">Register</a>
                </div>
            </div>
        </div>
    </nav>

    <div class="flash-wrapper">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="flash-alert alert-{{ category }}">
                        <span>{{ message }}</span>
                        <button class="flash-close" onclick="this.parentElement.remove()">&times;</button>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>

    {% block content %}{% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
  </body>
</html>